bin/

# CMake
CMakeFiles/
CMakeScripts/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Make
Makefile

# Visual Studio
.vs/
*.sln
*.vcxproj
*.filters
*.user